.THIS {
}


.THIS .exampleHolder {
    height: 270px;
    width: 200px;
}

.THIS .container {
    padding-bottom: 10px;
}

.THIS .welcomeHeader {
   
    padding: 500px !important;
}

/*
.THIS #welcomeHeader {
    margin: 0 auto 3rem auto;
    font-size: 2rem;
    color: var(--blurple);
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding: 5px;
}

.THIS #googleMap {
    background-color: var(--main-bg-color);
    color: var(--blurple);
    max-width: 600px;
    padding: 100px;
}

.THIS .div .slds-coordinates, .THIS #KrakenPotions, .THIS #mapLinkText {
    text-decoration: none;
    color: var(--blurple);
    font-family: charm, sans-serif;
}

.THIS #mapLiContent:hover {
    background-color: hsl(240, 2%, 7%);
}

.THIS #mapLiContent:focus {
    background-color: hsl(240, 2%, 12%);
}


.THIS .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.THIS #astroCard, .THIS #weatherCard {
    color: var(--main-bg-color);
    border-color: var(--blurple);
    font-weight: 700;
    padding: 2rem;
    margin: 3rem;
    background: linear-gradient(to bottom right, #dba6ee, #6f54fc) !important;
    font-family: charm, sans-serif;
}

.THIS .slds-card__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.THIS #moonCardTitle, .THIS #weatherCardTitle {
    font-weight: 700;
    font-family: charm, sans-serif;
    text-align: center;
}

.THIS .slds-scope td {
    font-weight: 700;
    font-family: charm, sans-serif !important;
}
                                                        


@media all and (min-width: 1200px) {
    .THIS .container {
        flex-direction: row;
    }
}

@media all and (max-width: 379px) {
    .THIS #googleMap {
        display: none;
    }

    .THIS #welcomeHeader {
        font-size: 1.5rem;
    }
}
*/