@import url('https://fonts.googleapis.com/css2?family=Charm&family=Cinzel+Decorative:wght@400;700&display=swap');

:root {
	--main-bg-color: #1e1e1f;
	--blurple: #6f54fc;
	--pinkish: #dba6ee;
}
    
body {
  height:100%;
  min-height:100%;
  max-height:100%;
  padding-bottom: 100px;
  background: linear-gradient(35deg, #15bdc5, #dba6ee); 
}
    

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	scroll-behavior: smooth;
}

.carouselWrapper {
	display: flex;
	justify-content: center;
}
.carouselImage {
	width: 50vw;
    height: 50vh;
    overflow: hidden;
	border-radius: 10px;
}

.carouselContainer {
	border-radius: 10px;
}



.welcomeHeader {
	text-align: center;
    font-size: 5vw;
    text-shadow: 5px 2px 4px #6f54fc;
	padding: 10px;
 }

 .exampleHolder {
    height: 270px;
    width: 200px;
}

.map {
	z-index: 1;
    background: white;
	border-radius: 10px;
}

.newContainer {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
    background-image: url(https://i.imgur.com/XqQZQZQ.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: black;
    font-family: 'Charm', cursive;
    font-size: 2.5vw;
    text-shadow: 5px 2px 4px #6f54fc;
    padding: 10px;
    align-content: space-between;
    flex-wrap: nowrap;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.videoPlayer {
    position: absolute;
    width: 100vw;
	top: 1px;
}

#weatherCardTitle {
	text-align: center;
	align-items: center;
}
#moonCardTitle {
	text-align: center;
	align-items: center;
}

.moonPhase {
	display: flex;
    align-items: center;
}


body {
	
	
	font-family: 'Charm', sans-serif;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3rem 0;
	padding: 0.5rem;
	background-color: var(--blurple);
	border-bottom: 3px solid var(--pinkish);
	color: white;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
}

#navMenu {
	color: var(--blurple);
}

#navMenu.menuItemText {
	color: var(--blurple);
}

#headerTitle {
	font-weight: 700;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 80%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.stars {
	background-color: white;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	animation-iteration-count: infinite;
	opacity: 0.25;
	position: absolute;
  }

  .star-1 {
	top:2%;
	left:60%;
	animation-duration: 1s;
	animation-name: twinkle2;
  }

  .star-2 {
	top:4%;
	left:25%;
	animation-duration: 3s;
	animation-name: twinkle2;
  }

  .star-3 {
	top:0%;
	left:10%;
	animation-duration: 1s;
	animation-name: twinkle2;
  }
  .star-4 {
	top:0%;
	left:32%;
	animation-duration: 1s;
	animation-name: twinkle2;
  }
	.star-5 {
	top:1%;
	left:80%;
	animation-duration: 2s;
	animation-name: twinkle2;
  }


  @keyframes twinkle2 {
	20% {
		color: white;
		transform: scale(-.5);
		opacity: .75;
		border:2px solid linear-gradient(35deg, #15bdc5, #dba6ee);
	}
  }
                                                    
lightning-card.THIS{
    --sds-c-card-color-background: #aadae9d8;
    --sds-c-card-color-border: #aadae9d8;
    --sds-c-button-brand-color-background: purple;
}
                                                        
                                                        
h1 {
font-size: xx-large;
}

h2 {
font-size: x-large;
}

h3 {
font-size: large;
}



                                                     
                                                        
                                                         
                                                            
                                                            
                                                       