#pageStyle 
{
    background-color: #1e1e1f; 
    color: #6f54fc;
    font-family: 'Charm', cursive;
    font-size: 1rem;
    text-align: center;
}

#newReviewDiv
{
    text-align: center;
    border-style: double;
    color: black;
    height: 70%;
    width: 100%;
    margin-bottom: 2%;
    background: linear-gradient(to bottom right, #dba6ee, #6f54fc);
}

#createReviewHeader
{
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    align-self: flex-start;
    font-size: 2rem;
    background: linear-gradient(50deg, #15bdc5, #dba6ee);
    border-style: groove;
    border-width: 3px;
    border-color:indigo;
    width: fit-content;
}

#listReviewsHeader
{
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    font-size: 2rem;
    background: linear-gradient(50deg, #15bdc5, #dba6ee);
    border-style: groove;
    border-width: 3px;
    border-color:indigo;
    width: fit-content;
}

#cardHeader
{
    background: linear-gradient(50deg, #dba6ee, #15bdc5);
    color:#1e1e1f;
    text-align: center;
}

#cHead
{
    font-family: 'Charm', cursive;
    font-size: 1.4rem;
}

#reviewCard
{
    width: 95%;
    border-color:black;
    border-width: 3px;
}

#rightDiv
{   
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    animation-name: potionDiv;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    position: fixed;
    left: 0;
    z-index: -1;
}

#leftDiv
{   
    text-align: right;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    animation-name: potionDiv;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    position: fixed;
    right: 0;
    z-index: -1;
}

#saveButton
{
    padding: 0.5%;
    margin: auto;
    background-color: antiquewhite;
    width: fit-content;
    border-style: groove;
    border-width: 5px;
    border-color: indigo;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.outputPanel
{
    font-size: 1.2rem;
    overflow: auto;
    width: 100%;
    height: 400px;
    margin-bottom: 5%;
    border-style: groove;
    border-width: 5px;
    border-color: indigo;
    background: linear-gradient(to bottom right, #dba6ee, #6f54fc);
}

.inputForm
{
    font-size: 1.5rem;
    border-style: groove;
    border-width: 5px;
    border-color: indigo;
}

.inputField
{
    border-style: groove;
    border-width: 2px;
    border-color: indigo;
    width: 20%;
}

.descriptionField
{
    width:80%;
    height:70%;    
}


.potionImg
{
    width: 2.5%;
    height: 2.5%;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.potionImg1
{
    animation-name: potionBottle;
}

.potionImg2
{
    animation-name: potionBottle2;
}

.potionImg3
{
    animation-name: potionBottle3;
}

.potionImg4
{
    animation-name: potionBottle4;
}

@keyframes potionDiv
{
    0%
    {
        transform: translateY(0%);
    }
    12.5%
    {
        transform: translateY(15%);
    }
    25%
    {
        transform: translateY(30%);
    }
    37.5%
    {
        transform: translateY(45%);
    }
    50%
    {
        transform: translateY(60%);
    }
    62.5%
    {
        transform: translateY(45%);
    }
    75%
    {
        transform: translateY(30%);
    }
    87.5%
    {
        transform: translateY(15%);
    }
    100%
    {
        transform: translateY(0%);
    }
}

@keyframes potionBottle
{
    0%
    {
        transform: rotate(0deg);
    }
    12.5%
    {
        transform: rotate(90deg);
    }
    25%
    {
        transform: rotate(180deg);
    }
    37.5%
    {
        transform: rotate(270deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
    62.5%
    {
        transform: rotate(270deg);
    }
    75%
    {
        transform: rotate(180deg);
    }
    87.5%
    {
        transform: rotate(90deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}


@keyframes potionBottle2
{
    0%
    {
        transform: rotate(90deg);
    }
    12.5%
    {
        transform: rotate(180deg);
    }
    25%
    {
        transform: rotate(270deg);
    }
    37.5%
    {
        transform: rotate(360deg);
    }
    50%
    {
        transform: rotate(450deg);
    }
    62.5%
    {
        transform: rotate(360deg);
    }
    75%
    {
        transform: rotate(270deg);
    }
    87.5%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(90deg);
    }
}

@keyframes potionBottle3
{
    0%
    {
        transform: rotate(180deg);
    }
    12.5%
    {
        transform: rotate(270deg);
    }
    25%
    {
        transform: rotate(360deg);
    }
    37.5%
    {
        transform: rotate(450deg);
    }
    50%
    {
        transform: rotate(540deg);
    }
    62.5%
    {
        transform: rotate(450deg);
    }
    75%
    {
        transform: rotate(360deg);
    }
    87.5%
    {
        transform: rotate(270deg);
    }
    100%
    {
        transform: rotate(180deg);
    }
}

@keyframes potionBottle4
{
    0%
    {
        transform: rotate(270deg);
    }
    12.5%
    {
        transform: rotate(360deg);
    }
    25%
    {
        transform: rotate(450deg);
    }
    37.5%
    {
        transform: rotate(540deg);
    }
    50%
    {
        transform: rotate(630deg);
    }
    62.5%
    {
        transform: rotate(540deg);
    }
    75%
    {
        transform: rotate(450deg);
    }
    87.5%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(270deg);
    }
}